.kaka{
    border-radius:25px;
}
  /* For mapping */
  #map {
    height: 300px; /* Tinggi peta mini */
    width: 100%; /* Lebar peta sesuai kontainer */
  }
  .map-container {
    position: relative;
    width: 100%; /* Lebar kontainer peta 100% dari kolom */
    height: 300px; /* Tinggi peta */
    border: 1px solid #ddd;
    margin: 20px auto;
  }
  .leaflet-control-attribution {
    display: none; /* Menyembunyikan atribusi Leaflet jika tidak dibutuhkan */
  }
  /* Button styling */
  #btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
  }
  .link{
    text-decoration: none;
  }
 
/*Social Media*/
.social-buttons {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center buttons horizontally */
}
.social-buttons .btn {
  font-size: 24px; /* Adjust icon size */
  width: 50px; /* Adjust button size */
  height: 50px; /* Adjust button size */
  border-radius: 50%; /* Make buttons round */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove default padding */
}
.btn-facebook {
  background-color: #3b5998; /* Custom color for Facebook */
  color: #ffffff; /* Custom icon color */
}
.btn-twitter {
  background-color: #1DA1F2; /* Custom color for Twitter */
  color: #ffffff; /* Custom icon color */
}
.btn-youtube {
  background-color: #FF0000; /* Custom color for YouTube */
  color: #ffffff; /* Custom icon color */
}
.btn-github {
  background-color: #333333; /* Custom color for GitHub */
  color: #ffffff; /* Custom icon color */
}
.btn-tiktok {
  background-color: #000000; /* Custom color for TikTok */
  color: #ffffff; /* Custom icon color */
}
.btn-instagram {
  background-color: #E4405F; /* Custom color for Instagram */
  color: #ffffff; /* Custom icon color */
}